1&2_SEMESTRE/IA & CHATBOT/2022/CHECKPOINT.2/questão_3_b-LEONARDO_PAGANINI_PAULO_VITOR.json.json
[
    {
        "id": "2aa1aa860eb21d8b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "319226f21ea431f3",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f549b4c41566fdf1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fdd3b2ac91314750",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6077328ee343bfa1",
        "type": "telegram bot",
        "botname": " poopao_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "c9b372a5a0e1cc41",
        "type": "telegram receiver",
        "z": "2aa1aa860eb21d8b",
        "name": "BOT",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 50,
        "y": 180,
        "wires": [
            [
                "413ccb615132d004",
                "25a0f3d6890eb673"
            ],
            [
                "c7112c80fd641b85"
            ]
        ]
    },
    {
        "id": "413ccb615132d004",
        "type": "debug",
        "z": "2aa1aa860eb21d8b",
        "name": "Entrada Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 80,
        "wires": []
    },
    {
        "id": "8d4a98fbf3736174",
        "type": "telegram sender",
        "z": "2aa1aa860eb21d8b",
        "name": "BOT_SEND",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 180,
        "wires": [
            [
                "080b48cbb8ca72e7"
            ]
        ]
    },
    {
        "id": "665bc39945c8932a",
        "type": "watson-assistant-v2",
        "z": "2aa1aa860eb21d8b",
        "name": "nó watson",
        "service-endpoint": "",
        "assistant_id": "99caba3a-28ec-4010-b206-a57a12b18fd5",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "3e39111b7400d9dd",
                "450370f6b8be1c48"
            ]
        ]
    },
    {
        "id": "3e39111b7400d9dd",
        "type": "debug",
        "z": "2aa1aa860eb21d8b",
        "name": "Resposta telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 80,
        "wires": []
    },
    {
        "id": "25a0f3d6890eb673",
        "type": "change",
        "z": "2aa1aa860eb21d8b",
        "name": "Prepara entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 180,
        "wires": [
            [
                "665bc39945c8932a"
            ]
        ]
    },
    {
        "id": "450370f6b8be1c48",
        "type": "change",
        "z": "2aa1aa860eb21d8b",
        "name": "Prepara retorno",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "8d4a98fbf3736174"
            ]
        ]
    },
    {
        "id": "080b48cbb8ca72e7",
        "type": "debug",
        "z": "2aa1aa860eb21d8b",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 80,
        "wires": []
    },
    {
        "id": "c7112c80fd641b85",
        "type": "function",
        "z": "2aa1aa860eb21d8b",
        "name": "Acesso não autorizado",
        "func": "msg.payload.content = \"Você não é um usuário autorizado\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 300,
        "wires": [
            [
                "8d4a98fbf3736174"
            ]
        ]
    },
    {
        "id": "9109e749c3643189",
        "type": "telegram receiver",
        "z": "319226f21ea431f3",
        "name": "BOT",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "ddef45cd2f63b387",
                "0574732fbe01d3e1"
            ],
            [
                "033a8e59b55eaaee"
            ]
        ]
    },
    {
        "id": "ddef45cd2f63b387",
        "type": "debug",
        "z": "319226f21ea431f3",
        "name": "Entrada Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 140,
        "wires": []
    },
    {
        "id": "c6e75340d1c6ce97",
        "type": "telegram sender",
        "z": "319226f21ea431f3",
        "name": "BOT_SEND",
        "bot": "",
        "haserroroutput": false,
        "outputs": 1,
        "x": 850,
        "y": 240,
        "wires": [
            [
                "c098bb51a647e419"
            ]
        ]
    },
    {
        "id": "e8d08e58bae0ae85",
        "type": "watson-assistant-v2",
        "z": "319226f21ea431f3",
        "name": "nó watson",
        "service-endpoint": "",
        "assistant_id": "99caba3a-28ec-4010-b206-a57a12b18fd5",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "7546c937d356a442",
                "2c3dff51c9e6a0f5"
            ]
        ]
    },
    {
        "id": "7546c937d356a442",
        "type": "debug",
        "z": "319226f21ea431f3",
        "name": "Resposta telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "0574732fbe01d3e1",
        "type": "change",
        "z": "319226f21ea431f3",
        "name": "Prepara entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 240,
        "wires": [
            [
                "e8d08e58bae0ae85"
            ]
        ]
    },
    {
        "id": "2c3dff51c9e6a0f5",
        "type": "change",
        "z": "319226f21ea431f3",
        "name": "Prepara retorno",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 240,
        "wires": [
            [
                "c6e75340d1c6ce97"
            ]
        ]
    },
    {
        "id": "c098bb51a647e419",
        "type": "debug",
        "z": "319226f21ea431f3",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 140,
        "wires": []
    },
    {
        "id": "033a8e59b55eaaee",
        "type": "function",
        "z": "319226f21ea431f3",
        "name": "Acesso não autorizado",
        "func": "msg.payload.content = \"Você não é um usuário autorizado\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "c6e75340d1c6ce97"
            ]
        ]
    },
    {
        "id": "c6f88644e35242ee",
        "type": "telegram receiver",
        "z": "f549b4c41566fdf1",
        "name": "",
        "bot": "",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "da6b61d0cb2cd803"
            ],
            []
        ]
    },
    {
        "id": "da6b61d0cb2cd803",
        "type": "debug",
        "z": "f549b4c41566fdf1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 100,
        "wires": []
    },
    {
        "id": "8e837bce417a6ed8",
        "type": "telegram receiver",
        "z": "fdd3b2ac91314750",
        "name": "",
        "bot": "6077328ee343bfa1",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 210,
        "y": 160,
        "wires": [
            [
                "6965683b390d0ae6",
                "d5d141c1fcd63411"
            ],
            []
        ]
    },
    {
        "id": "6965683b390d0ae6",
        "type": "debug",
        "z": "fdd3b2ac91314750",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 60,
        "wires": []
    },
    {
        "id": "f9666d2fc3f9c9f6",
        "type": "telegram sender",
        "z": "fdd3b2ac91314750",
        "name": "",
        "bot": "6077328ee343bfa1",
        "haserroroutput": false,
        "outputs": 1,
        "x": 630,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d5d141c1fcd63411",
        "type": "function",
        "z": "fdd3b2ac91314750",
        "name": "function 1",
        "func": "msg.payload.content = \"oi \" + \"Tudo bem!\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 220,
        "wires": [
            [
                "f9666d2fc3f9c9f6"
            ]
        ]
    }
]